{% extends 'base.html.twig' %}

{% block title %}Index des équipements{% endblock %}

{% block body %}
    <h1>Index des équipements</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Immatriculation</th>
                <th>Marque</th>
                <th>Catégorie</th>
                <th>Modèle</th>
                <th>Année</th>
                <th>Valeur d'achat</th>
                <th>Durée de vie</th>
                <th>Heures de travail</th>
                <th>Puissance du véhicule</th>
                <th>Coût d'utilisation</th>
                <th>Valeur résiduelle</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for equipment in equipment %}
            <tr>
                <td>{{ equipment.id }}</td>
                <td>{{ equipment.registration }}</td>
                <td>{{ equipment.brand }}</td>
                <td>{{ equipment.type }}</td>
                <td>{{ equipment.model }}</td>
                <td>{{ equipment.registrationYear ? equipment.registrationYear|date('Y-m-d') : '' }}</td>
                <td>{{ equipment.buyValue }}</td>
                <td>{{ equipment.lifetime }}</td>
                <td>{{ equipment.workTime }}</td>
                <td>{{ equipment.horsepower }}</td>
                <td>{{ equipment.useCost }}</td>
                <td>{{ equipment.residualValue }}</td>
                <td>
                    <a href="{{ path('equipment_show', {'id': equipment.id}) }}">Afficher</a>
                    <a href="{{ path('equipment_edit', {'id': equipment.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">La recherche n'a pas donné de résultat.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('equipment_new') }}">Créer nouvel équipement</a>
{% endblock %}
