{% extends 'base.html.twig' %}

{% block title %}Equipements{% endblock %}

{% block body %}
    <h1>Equipements</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ equipment.id }}</td>
            </tr>
            <tr>
                <th>Immatriculation</th>
                <td>{{ equipment.registration }}</td>
            </tr>
            <tr>
                <th>Marque</th>
                <td>{{ equipment.brand }}</td>
            </tr>
            <tr>
                <th>Catégorie</th>
                <td>{{ equipment.type }}</td>
            </tr>
            <tr>
                <th>Modèle</th>
                <td>{{ equipment.model }}</td>
            </tr>
            <tr>
                <th>Année</th>
                <td>{{ equipment.registrationYear ? equipment.registrationYear|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Valeur d'achat</th>
                <td>{{ equipment.buyValue }}</td>
            </tr>
            <tr>
                <th>Durée de vie</th>
                <td>{{ equipment.lifetime }}</td>
            </tr>
            <tr>
                <th>Heures de travail</th>
                <td>{{ equipment.workTime }}</td>
            </tr>
            <tr>
                <th>Puissance du véhicule</th>
                <td>{{ equipment.horsepower }}</td>
            </tr>
            <tr>
                <th>Coût d'utilisation</th>
                <td>{{ equipment.useCost }}</td>
            </tr>
            <tr>
                <th>Valeur résiduelle</th>
                <td>{{ equipment.residualValue }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('equipment_index') }}">Retour à la liste</a>

    <a href="{{ path('equipment_edit', {'id': equipment.id}) }}">Editer</a>

    {{ include('equipment/_delete_form.html.twig') }}
{% endblock %}
