{% extends 'base.html.twig' %}

{% block title %}Estimation simplifié{% endblock %}

{% block body %}
    <h1>Estimez votre matériel</h1>
    <div class="tractorSize">
        <a class="small" href="?size=small"><img class="{{size == 'small'? 'selected': 'notSelected'}} small " src="{{ app.request.pathinfo == path('simple_equipment_tractor')? asset('build/images/averageTractor.png'): app.request.pathinfo == path('simple_equipment_harvester')? asset('build/images/Harvester.png') }}"></a>
        <a class ="medium" href="?size=medium" ><img class="{{size == 'medium'? 'selected': 'notSelected'}} medium " src="{{ app.request.pathinfo == path('simple_equipment_tractor')? asset('build/images/averageTractor.png'): app.request.pathinfo == path('simple_equipment_harvester')? asset('build/images/Harvester.png') }}"></a>
        <a class="large" href="?size=large" ><img class="{{size == 'large'? 'selected': 'notSelected'}} large " src="{{ app.request.pathinfo == path('simple_equipment_tractor')? asset('build/images/averageTractor.png'): app.request.pathinfo == path('simple_equipment_harvester')? asset('build/images/Harvester.png') }}"></a>
    </div>

    <div class="tractorAge">
        <a href="?age=old" ><img class="{{age == 'old'? 'selected': 'notSelected'}} old" src="{{ asset('build/images/oldTractor.png') }}"></a>
        <a href="?age=average" ><img class="{{age == 'average'? 'selected': 'notSelected'}} average" src="{{ asset('build/images/averageTractor.png') }}"> </a>
        <a href="?age=new" ><img class="{{age == 'new'? 'selected': 'notSelected'}} new" src="{{ asset('build/images/newTractor.png') }}"></a>
    </div>

    <div class="tractorColor">
        <a href="?color=red" ><img class="{{ color == 'red'? 'selected': 'notSelected'}} red " src="{{ app.request.pathinfo == path('simple_equipment_tractor')? asset('build/images/averageTractor.png'): app.request.pathinfo == path('simple_equipment_harvester')? asset('build/images/Harvester.png') }}"></a>
        <a href="?color=yellow" ><img class="{{ color == 'yellow'? 'selected': 'notSelected'}} yellow " src="{{ app.request.pathinfo == path('simple_equipment_tractor')? asset('build/images/averageTractor.png'): app.request.pathinfo == path('simple_equipment_harvester')? asset('build/images/Harvester.png') }}"></a>
        <a href="?color=blue" ><img class="{{ color == 'blue'? 'selected': 'notSelected'}} blue " src="{{ app.request.pathinfo == path('simple_equipment_tractor')? asset('build/images/averageTractor.png'): app.request.pathinfo == path('simple_equipment_harvester')? asset('build/images/Harvester.png') }}"></a>
        <a href="?color=green" ><img class="{{ color == 'green'? 'selected': 'notSelected'}} green " src="{{ app.request.pathinfo == path('simple_equipment_tractor')? asset('build/images/averageTractor.png'): app.request.pathinfo == path('simple_equipment_harvester')? asset('build/images/Harvester.png') }}"></a>
    </div>
    
    <div class="tractorUsage">
        <a href="?usage=low" class="{{usage == 'low'? 'selected': 'green'}} ">Faible </a>
        <a href="?usage=moderate" class="{{usage == 'moderate'? 'selected': 'yellow'}} ">Modéré </a>
        <a href="?usage=intense" class="{{usage == 'intense'? 'selected': 'red'}} ">Intense </a>
    </div>

    <h3 class="result"> Estimation min.  {{ resultMin}} €</h3>
    <h3 class="result"> Estimation max. {{resultMax}} € </h3>
    <a class="refine" href="{{ path('equipment_new') }}">Affiner</a>
    <details>
    <summary>*détails du calcul</summary>
    A = Coût de l’amortissement du tracteur
    Vc = Valeur d’achat du nouveau tracteur
    Vr = Valeur résiduelle, c’est la valeur de vente que vous attendez du tracteur lorsque vous le changerez.
    T = Les années de vie du tracteur sont le nombre d’années que vous estimez utiliser le tracteur.
    H = Heures de travail par an du tracteur
    A=((Vc-Vr)/T)/H
    *T=8
    </details>
    
    

{% endblock %}
