{% extends 'base.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block body %}

<div class="user-title">
    <img class="user-icon" src="{{ asset('/build/images/user_hover.cdc81b25.png') }}" alt="Utilisateur"/>
    <h1>{{ user.firstname }} {{ user.lastname }}</h1>
</div>

    <table class="user-profil">
        <tbody>
            <tr>
                <th>Pseudonyme</th>
                <td>{{ user.pseudo }}</td>
            </tr>
            <tr>
                <th>E-mail</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ user.address }}</td>
            </tr>
            <tr>
                <th>SIRET</th>
                <td>{{ user.siret }}</td>
            </tr>
            <tr>
                <th>Téléphone</th>
                <td>{{ user.phone }}</td>
            </tr>
        </tbody>
    </table>
    <div class="edit-delete-section">
        <a class="user-button" href="{{ path('user_edit', {'id': user.id}) }}">Modifier le profil</a>
        
        {{ include('user/_delete_form.html.twig') }}
    </div>
    <a class="user-back" href="{{ path('user_index') }}">Afficher tous les utilisateurs</a>
    <img class="left-plant" src="{{ asset('/build/images/left_plant.894ee322.png') }}" alt="Utilisateur"/>

{% endblock %}
